@use '../abstracts/variables';
// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

@mixin secondaryFont {
  font-family: 'Overpass', sans-serif;
}

@mixin scrollBar($val){
      /* Chrome, Edge, Safari */
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.08);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: variables.$themeClrPrimary;
      border-radius: 10px;
      border: 2px solid rgba(0, 0, 0, 0.08);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #3867d6;
    }

    /* Firefox */
    scrollbar-width: $val;
    scrollbar-color: variables.$themeClrPrimary rgba(0, 0, 0, 0.08);
  }
