@use '../abstracts/variables';
@use '../abstracts/mixins';

.home-hero {
  color: #fff;
  background: linear-gradient(to right,
      rgba(variables.$themeClrPrimary, 0.8),
      rgba(variables.$themeClrPrimary, 0.8)),
    url(../../assets/svg/common-bg.svg);
  background-position: center;

  height: 100vh;

  min-height: 80rem;
  max-height: 120rem;
  position: relative;

  @include mixins.respond(phone) {
    height: unset;
    min-height: unset;
  }

  &__socials {
    position: absolute;
    top: 50%;
    border: 2px solid #eee;
    border-left: 2px solid #eee;
    transform: translateY(-50%);

    @include mixins.respond(tab-port) {
      display: none;
    }
  }

  &__mouse-scroll-cont {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);

    @include mixins.respond(phone) {
      display: none;
    }
  }

  &__social {
    width: 5rem;
  }

  &__social-icon-link {
    width: 100%;
    display: block;
    padding: 1.2rem;
    border-bottom: 2px solid #eee;
    transition: background .3s;

    &:hover {
      background: rgba(#fff, .1);
    }

    &--bd-none {
      border-bottom: 0;
    }
  }

  &__social-icon {
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;

    @include mixins.respond(phone) {
      padding: 19rem 0 13rem 0;
      margin: auto;
      position: static;
      transform: translate(0, 0);
    }
  }

  &__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
  }

  &__cta {
    margin-top: 5rem;
    text-align: center;
  }
}

.about {
  background: rgb(250, 250, 250);

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    text-align: justify;

    @include mixins.respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 8rem;
    }

    &-title {
      font-weight: 700;
      font-size: 2.8rem;
      margin-bottom: 3rem;

      @include mixins.respond(phone) {
        font-size: 2.4rem;
      }
    }

    &-details-para {
      font-size: 1.8rem;
      color: grey;
      max-width: 60rem;
      line-height: 1.7;
      margin-bottom: 1rem;

      &--hl {
        font-weight: 700;
        margin: 0 3px;
      }

      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }

  .btn-group {
    display: flex;
    gap: 1rem;

    @include mixins.respond(phone) {
      flex-direction: column;
    }

    button {
      width: 100%;
    }
  }
}

.projects {
  &__content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    @include mixins.respond(phone) {
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    position: relative;
    transition: all 1s ease;
    @include mixins.respond(phone) {
      flex-direction: column;
    }

    @include mixins.respond(tab-port) {
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img-cont {
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &-img {
      width: 90%;
      display: block;
      object-fit: cover;
      border-radius: variables.$commonBorderRadius;
      box-shadow: variables.$shadowBox;
    }

    &-content {
      padding: 2rem 0;
      display: flex;
      justify-content: center;

      .mob-btn {
        display: none;

        @include mixins.respond(phone) {
          display: block;
        }

        @include mixins.respond(tab-port) {
          display: block;
        }

        @include mixins.respond(big-desktop) {
          display: none;
        }
      }

      .dek-btn {
        display: none;
        position: absolute;
        left: 125px;
        top: 70px;

        @include mixins.respond(tab-port) {
          display: none;
        }

        @include mixins.respond(phone) {
          display: none;
        }
      }

      @include mixins.respond(tab-port) {
        align-items: center;
      }

      @include mixins.respond(phone) {
        align-items: center;
      }
    }

    &:hover .dek-btn {
      display: flex;

      @include mixins.respond(phone) {
        display: none;
      }

      @include mixins.respond(tab-port) {
        display: none;
      }
    }

  }
}

.filter {
  width: fit-content;
  display: flex;
  gap: 1rem;
  margin-inline: auto;
  margin-bottom: 3rem;

  button {
    background-color: rgba(#999, 0.59);
    padding: .6rem 1.5rem;
    border-radius: 40%;
    color: white;
    font-size: 1.6rem;
    transition: all .5s ease;

    &:hover {
      background-color: rgba(#999, 0.4);
    }
  }

  .active {
    background-color: variables.$themeClrPrimary;
    transition: all .5s ease;

    &:hover {
      background-color: variables.$themeClrPrimary;
      ;
    }
  }
}

.contact {
  background: linear-gradient(to right,
      rgba(variables.$themeClrPrimary, 0.8),
      rgba(variables.$themeClrPrimary, 0.8)),
    url(../../assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;

  &__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(#fff, 2);
    padding: 3rem;
    margin-top: 3rem;
    max-width: 60rem;
    text-align: right;
    border-radius: variables.$commonBorderRadius;

    margin: 3rem auto 0 auto;

    @include mixins.respond(phone) {
      padding: 3rem;
      max-width: 80rem;
    }
  }

  &__form-field {
    margin-bottom: 4rem;

    @include mixins.respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__form-label {
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
  }

  &__form-input {
    color: #333;
    padding: 1rem;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: rgba(rgb(240, 240, 240), 1);
    border-radius: variables.$commonBorderRadius;
    font-weight: 600;

    /* Code for Modern Browsers */
    &::placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for WebKit, Blink, Edge */
    &::-webkit-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for Internet Explorer 10-11 */
    &:-ms-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for Microsoft Edge */
    &::-ms-input-placeholder {
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for Mozilla Firefox 4 to 18 */
    &:-moz-placeholder {
      opacity: 1;
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }

    /* Code for Mozilla Firefox 19+ */
    &::-moz-placeholder {
      opacity: 1;
      color: #999;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  &__btn {
    width: 30%;
    padding: 1rem 4rem;
    font-size: 1.6rem;

    @include mixins.respond(phone) {
      width: 100%;
    }
  }
}

.about__content-main {
  display: flex;
  flex-direction: column;

  a {
    width: 35%;
  }

  @include mixins.respond(phone) {
    a {
      align-self: center;
      width: 100%;
    }
  }
}