@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans leading-normal;
    box-sizing: border-box;
    font-size: 1.6rem;
    /* fallback/base */
  }
}

@layer components {
  .btn {
    @apply bg-white text-[#333] uppercase tracking-wider inline-block font-bold rounded-[5px] shadow-btn transition-transform duration-300 text-center cursor-pointer;
  }

  .btn:hover {
    @apply -translate-y-1;
  }

  .btn--bg {
    @apply py-3 px-12 text-[1.9rem];
  }

  .btn--med {
    @apply py-2 px-12 text-[1.5rem];
  }

  .btn--theme {
    @apply bg-primary text-white;
  }

  .heading-primary {
    @apply uppercase tracking-[3px] text-center text-[5rem];
  }

  .main-container {
    @apply max-w-[120rem] m-auto w-[92%];
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}